.btn {
  display: flex;
  padding: 3px 3px 3px 30px;
  align-items: center;
  justify-content: space-between;
  color: $color-cerulean-blue;
  text-transform: uppercase;

  background-color: $color-transparent;
  border: 1px solid $color-cerulean-blue;
  cursor: pointer;

  transition: transform $trans-default;

  &:hover,
  &:focus {
    background-color: $color-cerulean-blue;
    outline: none;
    transition: $trans-default;

    .btn__icon {
      background-color: $color-default-white;
    }

    span {
      color: $color-default-white;
    }

    svg {
      stroke: $color-cerulean-blue;
    }
  }

  &:active {
    span {
      color: $color-white-07;
    }

    svg {
      stroke: $color-cerulean-blue-07;
    }
  }
}

.btn--burger-button.is-opend {
  width: 286px;
  transition: $trans-default;
  position: relative;
  z-index: 4;
  background-color: $color-cerulean-blue;
  color: $color-default-white;

  @include vp-767 {
    width: 100%;
    min-width: 290px;
  }

  &:hover,
  &:focus {
    background-color: $color-default-white;

    span {
      color: $color-cerulean-blue;
    }

    .navigation__button-wrapper {
      background-color: $color-cerulean-blue;
    }

    svg {
      background-color: $color-cerulean-blue;
      stroke: $color-default-white;
    }
  }

  &:active {
    span {
      color: $color-cerulean-blue-07;
    }

    svg {
      stroke: $color-white-07;
    }
  }


  .navigation__button-wrapper {
    background-color: $color-default-white;
  }

  svg {
    display: none;
  }

  svg + svg {
    stroke: $color-cerulean-blue;
    display: block;
  }
}

.btn--burger-button {
  &:hover,
  &:focus {
    background-color: $color-cerulean-blue;
    outline: none;
    transition: $trans-default;

    span {
      color: $color-default-white;
    }

    svg {
      stroke: $color-cerulean-blue;
    }

    .navigation__button-wrapper {
      background-color: $color-default-white;
    }
  }

  &:active {
    span {
      color: $color-white-07;
    }

    svg {
      stroke: $color-cerulean-blue-07;
    }
  }
}

.btn--burger-button.is-disabled {
  color: $color-mischka;
  border: 1px solid $color-mischka;
  cursor: default;
  pointer-events: none;

  svg {
    stroke: $color-default-white;
  }

  .navigation__button-wrapper {
    background-color: $color-mischka;
  }
}

.btn--icon-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 21px;
  height: 22px;
  transition: $trans-default;

  svg {
    stroke: $color-cerulean-blue;
    background-color: $color-transparent;
    cursor: pointer;
  }

  &:hover,
  &:focus {
    background-color: $color-default-white;
    border-radius: 30px;
    outline: none;
  }

  &:active svg {
    stroke: $color-cerulean-blue-07;
  }
}

.btn--icon-slider.is-disabled {
  background-color: $color-transparent;
  pointer-events: none;

  svg {
    stroke: $color-mischka;
  }
}

.btn.is-disabled {
  border: 1px solid $color-mischka;
  pointer-events: none;
  color: $color-mischka;

  .btn__icon {
    background-color: $color-mischka;
  }
}

.btn__icon {
  height: 46px;
  border-radius: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $color-cerulean-blue;
  width: 46px;
  transition: $trans-default;

  @include vp-767 {
    width: 34px;
    height: 34px;
    padding: 12px;
  }

  &:hover,
  &:focus {
    outline: none;
    background-color: $color-default-white;
    transition: $trans-default;

    svg {
      stroke: $color-cerulean-blue;
    }

    &:active {
      svg {
        stroke: $color-cerulean-blue-07;
      }
    }
  }

  svg {
    stroke: $color-default-white;
  }
}


.btn__icon.is-disabled {
  pointer-events: none;
  background-color: $color-mischka;

  svg {
    stroke: $color-default-white;
  }
}
