.about {
  margin-top: 118px;

  @include vp-1439 {
    margin-top: 95px;
  }

  @include vp-767 {
    margin-top: 58px;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    gap: 60px;

    @include vp-1439 {
      padding: 0 45px;
      gap: 61px;
    }

    @include vp-767 {
      padding: 0 15px;
      gap: 39px;
    }
  }
}

.about__conten {
  display: flex;
  justify-content: space-between;
  margin-top: -4px;

  @include vp-1439 {
    flex-direction: column;
    margin-top: -7px;
    gap: 29px;
  }

  @include vp-767 {
    margin-top: -4px;
    gap: 30px;
  }
}

.about__titel {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  gap: 35px;

  @include vp-1439 {
    max-width: 73%;
    gap: 25px;
  }

  @include vp-767 {
    max-width: 100%;
    gap: 13px;
  }


  h2 {
    margin: 0;
    padding-top: 7px;
    line-height: 50px;
    font-size: 50px;
    font-weight: 400;
    color: $color-cerulean-blue;

    @include vp-1439 {
      padding-top: 6px;
      line-height: 50px;
      font-size: 34px;
    }

    @include vp-767 {
      line-height: 20px;
      font-size: 20px;
    }
  }

  p {
    margin: 0;
    line-height: 32px;
    font-size: 22px;
    font-weight: 400;
    color: $color-charcoal;

    @include vp-1439 {
      line-height: 26px;
      font-size: 20px;
    }

    @include vp-767 {
      line-height: 22px;
      font-size: 16px;
    }
  }
}

.about__information {
  display: flex;
  flex-direction: column;
  max-width: 40%;
  margin-right: 108px;
  gap: 33px;

  @include vp-1439 {
    max-width: 73%;
    gap: 23px;
  }

  @include vp-767 {
    margin: 0;
    max-width: 100%;
    gap: 11px;
  }


  h3 {
    margin: 0;
    padding-top: 2px;
    line-height: 36px;
    font-size: 32px;
    font-weight: 400;
    color: $color-cerulean-blue;

    @include vp-1439 {
      padding: 0;
      line-height: 28px;
      font-size: 28px;
    }

    @include vp-767 {
      line-height: 22px;
      font-size: 18px;
    }
  }

  p {
    margin: 0;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    color: $color-charcoal;
    letter-spacing: 0.04px;

    @include vp-1439 {
      line-height: 20px;
      letter-spacing: 0.02px;
    }

    @include vp-767 {
      font-size: 14px;
    }
  }
}

.about__information-wrapper {
  display: flex;

  @include vp-1439 {
    margin-top: 13px;
  }

  @include vp-767 {
    margin-top: 10px;
  }
}

.about__information-button {
  border-radius: 30px;
  padding: 3px 3px 3px 30px;
  gap: 31px;
  letter-spacing: 0.28px;

  @include vp-1439 {
    gap: 30px;
    padding: 3px 3px 3px 30px;
  }

  @include vp-767 {
    width: 221px;
    margin-top: 4px;
    padding: 3px 3px 3px 19px;
    gap: 15px;
  }


  span {
    line-height: 14px;
    font-size: 14px;
    font-weight: 500;

    @include vp-767 {
      line-height: 12px;
      font-size: 12px;
    }
  }
}

.about__features {
  padding: 72px 106px;
  padding-left: 126px;
  padding-bottom: 32px;
  background-color: $color-cerulean-blue;
  border-radius: 20px;

  @include vp-1439 {
    padding: 40px 60px;
    padding-top: 61px;
    padding-right: 40px;
  }

  @include vp-767 {
    padding: 40px 30px;
    padding-top: 43px;
    padding-right: 20px;
  }
}

.about__features-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  gap: 54px 52px;
  margin: 0;
  padding: 0;
  list-style: none;

  @include vp-1439 {
    gap: 42px 50px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }
}

.about__features-item {
  position: relative;
  display: grid;
  grid-template-columns: auto auto;
  border: 1px solid $color-alabaster;
  border-radius: 16px;

  @include vp-1439 {
    display: flex;
    flex-direction: column;
  }

  &::before {
    position: absolute;
    top: -13px;
    left: -9px;
    width: 30px;
    height: 32px;
    background-image: url("/img/svg/star.svg");
    background-repeat: no-repeat;
    background-color: $color-cerulean-blue;
    content: "";

    @include vp-1439 {
      left: -9px;
    }

    @include vp-767 {
      top: -11px;
      left: -7px;
      width: 28px;
      height: 30px;
      background-image: url("/img/svg/star-mobile.svg");
    }
  }

  h3 {
    margin: 0;
    padding-top: 4px;
    width: 100%;
    max-width: 171px;
    line-height: 30px;
    font-size: 26px;
    font-weight: 400;
    color: $color-default-white;
    text-transform: uppercase;
    letter-spacing: 0.26px;

    @include vp-1439 {
      line-height: 22px;
      font-size: 20px;
    }

    @include vp-767 {
      max-width: 204px;
      line-height: 20px;
      font-size: 16px;
      letter-spacing: 0.16px;
    }
  }

  p {
    margin: 0;
    line-height: 20px;
    font-size: 16px;
    font-weight: 300;
    color: $color-alabaster;

    @include vp-767 {
      font-size: 14px;
    }
  }
}

.about__features-item--first-slot {
  gap: 9px;
  padding: 25px 60px 25px 59px;

  @include vp-1439 {
    gap: 7px;
    padding: 26px 39px 25px 29px;
  }

  @include vp-767 {
    gap: 4px;
    padding: 15px 28px 23px 19px;
  }
}

.about__features-item--second-slot {
  gap: 24px;
  padding: 25px 60px 25px 59px;

  @include vp-1439 {
    gap: 7px;
    padding: 26px 10px 25px 29px;
  }

  @include vp-767 {
    gap: 4px;
    padding: 15px 15px 23px 19px;
  }
}

.about__features-item--third-slot {
  gap: 26px;
  padding: 25px 27px 26px 53px;

  @include vp-1439 {
    gap: 7px;
    padding: 26px 27px 25px 29px;

    h3 {
      padding-right: 30px;
    }

    &::before {
      top: -13px;
    }
  }

  @include vp-767 {
    gap: 4px;
    padding: 15px 28px 23px 19px;

    h3 {
      padding-right: 0;
    }

    &::before {
      top: -11px;
    }
  }
}

.about__features-item--last-slot {
  gap: 15px;
  padding: 25px 60px 25px 59px;

  &::before {
    left: -9px;
  }

  @include vp-1439 {
    gap: 7px;
    padding: 26px 17px 25px 29px;

    &::before {
      top: -13px;
    }
  }

  @include vp-767 {
    gap: 4px;
    padding: 15px 19px 23px;

    &::before {
      top: -11px;
      left: -7px;
    }

    p .mobile-hidden {
      display: none;
    }

    h3 {
      width: 201px;
    }
  }
}
