*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  scroll-behavior: smooth;
}

html {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  font-family: "Manrope", "Arial", sans-serif;
  color: $color-charcoal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  height: 100%;
  background-color: $color-alabaster;
  min-width: $vp-320;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
