.header {
  position: relative;
}

.header__navigation {
  position: fixed;
  width: 100%;
  height: auto;
  background-color: $color-transparent;
  z-index: 2;
  transition: transform $trans-default;

  .container {
    padding-top: 31px;

    @include vp-767 {
      padding-top: 21px;
    }
  }
}

.header__navigation.is-hidden {
  transform: translateY(-100%);
}
