.header {
  position: relative;
}

.header__navigation {
  position: absolute;
  width: 100%;
  height: auto;
  background-color: $color-transparent;
  z-index: 2;


  & .container {
    padding-top: 31px;

    @include vp-1439 {

    }

    @include vp-767 {

    }
  }
}
