.hero__slider {
  position: relative;
}

.hero__pagination {
  display: flex;
  position: relative;
  gap: 12px;
  padding: 14px 20px;
  border-radius: 20px 20px 0 0;
  background-color: $color-default-white;

  @include vp-767 {
    padding: 10px 16px;
    border-radius: 12px 12px 0 0;
  }

  &::before {
    position: absolute;
    bottom: -4px;
    right: -20px;
    background-image: url(../img/svg/angle.svg);
    mask-repeat: no-repeat;
    mask-size: cover;
    background-repeat: no-repeat;
    transform: rotate(270deg);
    width: 20px;
    height: 20px;
    content: "";

    @include vp-767 {
      width: 10px;
      height: 10px;
      background-image: url(../img/svg/angle-mobile.svg);
      transform: rotate(0);
      bottom: 0;
      right: -10px;
    }
  }

  &.swiper-pagination {
    position: relative;
  }

  &.swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 0;
    width: fit-content;
    height: fit-content;
  }
}

.hero__pagination-bullet {
  width: 10px;
  height: 10px;
  border: 1px solid $color-cerulean-blue;
  background-color: $color-transparent;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color $trans-default;

  @include vp-767 {
    width: 8px;
    height: 8px;
  }

  &--active {
    background-color: $color-cerulean-blue;
  }

  &:active {
    background-color: $color-cerulean-blue;
  }
}

.hero__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hero__item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 800px;
  padding-bottom: 60px;

  @include vp-1439 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
    padding-bottom: 20px;
  }

  & .container {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
  }

  & h3 {
    max-width: 968px;
    width: 100%;
    padding: 40px 50px;
    padding-bottom: 30px;
    margin: 0;
    line-height: 62px;
    font-size: 54px;
    font-weight: 400;
    color: $color-cerulean-blue;
    border-radius: 0px 30px 30px 0px;
    background-color: $color-default-white;

    @include vp-1439 {
      max-width: 659px;
      padding: 31px 40px;
      padding-bottom: 23px;
      line-height: 44px;
      font-size: 36px;
    }

    @include vp-767 {
      padding: 20px 14px;
      padding-bottom: 16px;
      font-size: 22px;
      line-height: 26px;
      border-radius: 0 16px 16px 0;
    }
  }

  &.swiper-slide {
    display: flex;
  }
}

.hero__item-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  position: relative;
  max-width: 772px;
  width: 100%;
  margin-top: -7px;
  padding: 0 50px;
  padding-bottom: 28px;
  gap: 50px;
  background-color: $color-default-white;
  border-radius: 0px 0px 30px 30px;

  @include vp-1439 {
    max-width: 591px;
    margin-top: -3px;
    padding: 0 40px;
    padding-bottom: 34px;
    gap: 30px;
  }

  @include vp-767 {
    display: flex;
    flex-direction: column;
    margin-top: -9px;
    padding: 0;
    background-color: $color-transparent;
    gap: 0;
  }

  &::before {
    position: absolute;
    top: 7px;
    right: -26px;
    background-image: url(../img/svg/angle.svg);
    mask-repeat: no-repeat;
    mask-size: cover;
    background-repeat: no-repeat;
    width: 26px;
    height: 26px;
    content: "";

    @include vp-1439 {
      top: 3px;
    }

    @include vp-767 {
      width: 10px;
      height: 10px;
      right: 13px;
      top: 9px;
      background-image: url(../img/svg/angle-mobile.svg);
      transform: rotate(90deg);
    }
  }

  & p {
    margin: 0;
    line-height: 26px;
    font-size: 16px;
    font-weight: 400;
    color: $color-charcoal;

    @include vp-1439 {
      line-height: 20px;
    }

    @include vp-767 {
      width: 92%;
      padding: 4px 42px 10px 14px;
      font-size: 14px;
      background-color: $color-default-white;
      border-radius: 0 0 14px 0;
    }
  }
}

.hero__button-wrapper {
  display: flex;
  flex-direction: column;

  @include vp-767 {
    position: relative;
    flex-direction: row;
    max-width: 182px;
    width: 100%;
    padding: 6px 15px 10px;
    background-color: $color-default-white;
    border-radius: 0 0 14px 14px;

    &::before {
      position: absolute;
      top: 0;
      right: -10px;
      width: 10px;
      height: 10px;
      background-image: url(../img/svg/angle-mobile.svg);
      transform: rotate(90deg);
      content: '';
    }
  }
}

.hero__button-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 12px;
  padding: 3px 3px 3px 31px;
  gap: 30px;
  border-radius: 30px;
  border: 1px solid $color-cerulean-blue;

  @include vp-1439 {
    margin-top: 3px;
    padding: 3px 3px 3px 31px;
  }

  @include vp-767 {
    gap: 19px;
    margin-top: 4px;
    padding-left: 20px;
    letter-spacing: 0.3px;
  }

  & span {
    line-height: 14px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;

    @include vp-767 {
      line-height: 12px;
      font-size: 12px;
    }
  }
}

.hero__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 0;

  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color-cerulean-blue-02;
    content: "";
  }

  & img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
