$color-default-black: #000000;
$color-default-white: #ffffff;
$color-transparent: rgba(255, 255, 255, 0);
$color-white-02: rgba(255, 255, 255, 0.2);
$color-white-03: rgba(255, 255, 255, 0.3);
$color-white-06: rgba(255, 255, 255, 0.6);
$color-white-07: rgba(255, 255, 255, 0.7);

$color-charcoal: #484848;
$color-alabaster: #f0efe9;
$color-cerulean-blue: #316dc2;
$color-cerulean-blue-02: rgba(49, 109, 194, 0.2);
$color-cerulean-blue-05: rgba(49, 109, 194, 0.5);
$color-endeavour: #275699;
$color-mischka: #a9afb7;
$color-wild-watermelon: #ff5e66;
$color-black-pearl: rgba(13, 29, 51, 0.4);

$vp-320: 320px;
$vp-768: 768px;
$vp-1440: 1440px;
$vp-1920: 1920px;

$tf-default: ease;
$trans-default: 0.3s $tf-default;
$trans-05: 0.5s $tf-default;
$trans-06: 0.6s $tf-default;
