// для нейминга цветов используем https://www.htmlcsscolor.com/hex/334482

// Colors

// Default

$color-default-black:               #000000;
$color-default-white:               #ffffff;


// Project palette

$color-charcoal:                    #484848;
$color-alabaster:                   #f0efe9;

// Gradient



// Viewports

$vp-320: 320px;
$vp-768: 768px;
$vp-1440: 1440px;
$vp-1920: 1920px;

